[user]
	name = Dimas Tri Mustakim
	email = test31122001@gmail.com
	signingkey = C6402D853919817F
[init]
	defaultBranch = main
# Git alias ⬇️ https://laravel-news.com/five-ways-to-be-more-productive-with-git
[alias]
    nah = "!f(){ git reset --hard; git clean -df; if [ -d ".git/rebase-apply" ] || [ -d ".git/rebase-merge" ]; then git rebase --abort; fi; }; f"
    forget="!git fetch -p && git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D"
    forgetlist="!git fetch -p && git branch -vv | awk '/: gone]/{print $1}'"
    uncommit = reset --soft HEAD~1
    pall = "!for remote in $(git remote); do git push $remote; done"
    
[commit]
	gpgsign = true
